.banner{
    margin-top: 200px;
  
    
}
.wrap{
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
}
.info {
    position: relative;
    top: 10px;
    font-size: 1.2rem;
    opacity: .8;
  }
.tagline{
    position: relative;
    top: -10px;
    font-size: 1.2rem;
}

.me{
    margin-top:24px ;
}

@media only screen and (max-width: 600px) {
    /* .tagline {
        font-size: .5rem;
      }
      .info {
        font-size: .5rem;
        opacity: .8;
      }
      .wrap{
        font-size: .8rem;
      }
      .intro h1{
        font-size: .8rem;
      }
      .me img {
        width: 20vh;
        position: relative;
bottom: 126px;
left: 201px;
      } */

      .me img{
        margin-top: 100px;
      }
    }