nav.navbar {
    padding:8px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;
    display: flex;
    
    
  }

.scrolled{
    background-color: #121212;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    padding: 0;
}

nav.navbar a.navbar-brand{
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    font: optional;
}
nav.navbar .navbar-nav .notActive {
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    padding: 0 25px;
    opacity: .78;
}
nav.navbar .navbar-nav .active,
nav.navbar .navbar-nav a.notActive:hover {
    font-weight: 400;
    background: -webkit-linear-gradient(90.21deg, rgb(255, 5, 155) -5.91%, rgb(47, 0, 255) 111.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    padding: 0 25px;
    opacity: 1;
    transition: 0.3s ease-in-out;
    
}

.navbar-text{
    display: flex;
    align-items: center;
}

.social-icon{
    display: inline-block;
    margin-left: 6px;
}

.social-icon a{
    width:18px;
    display: inline-flex;
    margin-right: 6px;
    justify-content: center;
    align-items: center;
    opacity: 0.78;
    
}
.social-icon a:hover{
    opacity: 1;
    transition: 0.3 ease-in-out;
    
}
.ms-auto {
    flex: content;
    margin-left: 100px;
  }

  @media only screen and (max-width: 600px) {
    nav.navbar .navbar-nav .active,
nav.navbar .navbar-nav a.notActive {
        font-size: .8rem;
    }
    .social-icon a{
        width: .8rem;
    }


  }