.about h5 {
    margin-top: 200px;
    font-size: 1rem;
  }
.about h3{
    font-size: 2rem;
    margin-bottom: 100px;
    background: -webkit-linear-gradient(90.21deg, rgb(255, 5, 155) -5.91%, rgb(47, 0, 255) 111.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about_me{
    width: 100%;
}
.about{
    text-align: center;
}

.info{
    font-size: 1.2rem;
    opacity: .8;
}
@media only screen and (max-width: 600px) {
    .about h3,h5{
        font-size: 1.5rem;
    }
}