#contact{
    text-align: center;
    margin-top: 200px;
}
#contact h5 {
    font-size: 1rem;
  }
#contact h3{
    font-size: 2rem;
    margin-bottom: 100px;
    background: -webkit-linear-gradient(90.21deg, rgb(255, 5, 155) -5.91%, rgb(47, 0, 255) 111.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact_box{

}
.social {
  background: linear-gradient(90.21deg, #920f5e -5.91%, #270f96 111.58%);
  border-radius: 20px;
  border: none;
  margin-bottom: 20px;
  padding: 10px 0px;
}
.s_icon {
    font-size: 1.4rem;
    margin-bottom: 12px;
  }
.social a{
    text-decoration: none;
}
.social:hover{
    background:rgba(95, 158, 160, 0);
    outline: 2px solid rebeccapurple;
  }
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid rgb(157, 0, 248);
    resize: none;
    color: var(--color-white);
}

.message-icon {
    position: relative;
    top: 4px;
    left: 5px;
    text-align: center;
    font-size: 1rem;
}

.c_btn:hover{
 background:  linear-gradient(90.21deg, #920f5e -5.91%, #270f96 111.58%);
}

